
// Light Mode:
// Text #101619
// bg #F8FBFC
// prim #1E5067
// sec #6BBDE6
// acc #0F8AC2

// Dark Mode:
// Text #E6ECEF
// bg #030607
// prim #98CAE1
// sec #196B94
// acc #3DB7F0



$bgColor_light: #EDEEF4;
$bgColor_dark: #1e1e2f;
$bgComColor_light: #FFF;
$bgComColor_dark: #212E55;

$textColor_light: black;
$textColor_dark: white;

$borderColor_light: black;
$borderColor_dark: white;

// mixin that enables css variables in light mode
@mixin lighten() {
  --bgColor: #{$bgColor_light};
  --comColor: #{$bgComColor_light};
  --textColor: #{$textColor_light};
  --borderColor: #{$borderColor_light};
}

// mixin that enables css variables in dark mode
@mixin darken() {
  --bgColor: #{$bgColor_dark};
  --comColor: #{$bgComColor_dark};
  --textColor: #{$textColor_dark};
  --borderColor: #{$borderColor_dark};
}