
.bg-dash{
    background-color: var(--bgColor) !important;

}

.mb-0,
.text-muted{
    color: var(--textColor) !important;
}
.card-header,
.card-body{
    background-color: var(--comColor) !important;
}



