<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">

  <!-- Button to trigger the modal -->
<button type="button" class="btn btn-primary" style="margin: 0px 0px 15px 0px;" data-bs-toggle="modal" data-bs-target="#myModal">
  Dodaj Klienta
</button>

<!-- The modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dodaj nowego klienta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">Imię i nazwisko</label>
            <input type="text" class="form-control" id="name" placeholder="Wpisz imię i nazwisko">
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" id="status">
              <option value="">Wybierz status</option>
              <option value="Aktywny">Aktywny</option>
              <option value="Nieaktywny">Nieaktywny</option>
            </select>
          </div>
          <div class="form-group">
            <label for="telefon">Telefon</label>
            <input type="text" class="form-control" id="telefon" placeholder="Wpisz numer telefonu">
          </div>
          <div class="form-group">
            <label for="celPobytu">Cel pobytu</label>
            <input type="text" class="form-control" id="celPobytu" placeholder="Wpisz cel pobytu">
          </div>
          <div class="form-group">
            <label for="nrSprawy">Nr sprawy</label>
            <input type="text" class="form-control" id="nrSprawy" placeholder="Wpisz numer sprawy">
          </div>
          <div class="form-group">
            <label for="dataZakPob">Data zak. pob</label>
            <input type="date" class="form-control" id="dataZakPob" placeholder="Wpisz datę zak. pob">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
        <button type="button" class="btn btn-primary">Zapisz</button>
      </div>
    </div>
  </div>
</div>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Klienci 👨‍👩‍👦‍👦</h3>

          <select (change)="onStatusChange($event.target.value)">
            <option value="">All</option>
            <option value="Aktywny">Aktywny</option>
            <option value="Wstrzymany">Wstrzymany</option>
            <option value="Zakończony">Zakończony</option>
            <option value="Nieaktywny">Nieaktywny</option>
            <option value="Planowany">Planowany</option>
          </select>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">Imię i nazwisko</th>
                <th scope="col">Status</th>
                <th scope="col">Cel Pobytu</th>
                <th scope="col">Nr Sprawy</th>
                <th scope="col">Data zak. pob</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let customer of customers">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ customer.name}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> {{ customer.status}}
                  </span>
                </td>
                <td>
                  {{ customer.telefon}}
                </td>
                <td>
                  {{ customer.status}}
                </td>
                <td>
                  14.12.2025
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" (click)="openDetails(customer)">Szczegóły</a>
                      <a class="dropdown-item" href="javascript:void(0)">Edytuj</a>
                      <a class="dropdown-item text-warning" href="javascript:void(0)">Usuń</a>
                    </div>
                  </div>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination">
              <li [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="previousPage()">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li *ngFor="let page of pages" [class.active]="page === currentPage">
                <a class="page-link" (click)="currentPage = page">{{ page }}</a>
              </li>
              <li [class.disabled]="currentPage === totalPages">
                <a class="page-link" (click)="nextPage()">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
            <select class="dropdown-center" [(ngModel)]="pageSize" (ngModelChange)="changePageSize($event)">
              <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
            </select>
            <span class="pagination-center">{{ currentPage }} of {{ totalPages }}</span>
          </nav>
        </div>
      </div>
    </div>
  </div>


 
  

