ngb-modal-backdrop {
    z-index: 1050 !important;
}

.filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;

}

.filter{
    width: 17%;
}

.search{
    border: 0.4px black solid !important;
    text-align: left;
    margin-top: 10px;
}

.badge{
    color: black;
}

.card-footer,
.card-header{
    background-color: var(--comColor) !important;
}

.mb-0{
    color: var(--textColor) !important;
}
