<div *ngIf="customer" tabindex="1" class="model modal-content" role="document" aria-hidden="true">
  <div class="modal-header">
    <h2 class="modal-title">Szczegóły klienta</h2>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="color: black;" >
    <div class="head-detail">
      <div class="head-left">
        <h3>{{ customer.name}}</h3>
        <h4>{{ customer.krajPoch}}</h4>  
      </div>
      <div class="head-right">
        <span><strong>Status:</strong> {{ customer.status}}</span>
        <span><strong>Cel Pobytu:</strong> {{ customer.celPobytu}}</span>  
      </div>
    </div>
   <hr class="hr" style="background-color: black; margin-top: 1rem !important;" />
   <h2>Check list</h2>
   <div class="container text-center">
    <div class="row checklist" style="text-align: justify;">
      <div class="col-6 col-sm-4">
        <input type="checkbox" id="vehicle1" name="vehicle1">
        <label for="vehicle1">Formularz wniosku</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" id="vehicle2" name="vehicle2">
        <label for="vehicle2">Załącznik nr. 2 (Blue)</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" id="vehicle3" name="vehicle3">
        <label for="vehicle3">Kopia paszportu</label>
      </div>
      
      <!-- Force next columns to break to new line at md breakpoint and up -->
      <div class="w-100 d-none d-md-block"></div>
  
      <div class="col-6 col-sm-4">
        <input type="checkbox" id="vehicle4" name="vehicle4">
        <label for="vehicle4">Pełnomocnictwo</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" id="vehicle5" name="vehicle5">
        <label for="vehicle5">4 zdjęcia</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" id="vehicle6" name="vehicle6">
        <label for="vehicle6">Załącznik nr. 1</label>
      </div>
    </div>
  </div>

  <h2>Dok.</h2>

  <div class="doc">
    <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="label">Data Zak. Leg. Pobytu</div>
              <div>{{ customer.DataZakLegPob || '--'}}</div>
          </div>
          <div class="col-md-6">
              <div class="label">Data Złożenia Wniosku</div>
              <div>{{ customer.dataZloWnio || '--'}}</div>
          </div>
      </div>
      <div class="row">
      <!--Tutaj poprawić--> 
          <div class="col-md-6">
              <div class="label" style="color:red">Data Wyd. Decyzji:</div>
              <div>{{ customer.dataWydWnio || '--'}}</div>
          </div>
          <div class="col-md-6">
              <div class="label">Data Odb. Decyzji:</div>
              <div>{{ customer.DataOdbDec || '--'}}</div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="label">Data Odb. Karty:</div>
              <div>{{ customer.DataOdbKarty || '--'}}</div>
          </div>
          <div class="col-md-6">
              <div class="label">Inspektor</div>
              <div>{{ customer.inspektor || '--'}}</div>
          </div>
      </div>
  </div>



   

  </div>
  <div class="input-group mb-2 ">
    <div class="input-group-prepend">
      <span class="input-group-text">Numer Sprawy:</span>
    </div>
  <input style="color: black;" type="text" class="form-control" [(ngModel)]="customer.numerSprawy" placeholder="numerSprawy" />
  </div>
  <div class="input-group mb-2 ">
    <div class="input-group-prepend">
      <span class="input-group-text">Inspektor:</span>
    </div>
  <input style="color: black;" type="text" class="form-control" [(ngModel)]="customer.inspektor" placeholder="inspektor" />
  </div>
  <div class="input-group mb-2 ">
    <div class="input-group-prepend">
      <span class="input-group-text">Data Urodzin:</span>
    </div>
  <input style="color: black;" type="text" class="form-control" [(ngModel)]="customer.dataUro" placeholder="Data Urodzin" />
  </div>
    <div class="input-group mb-2 ">
      <div class="input-group-prepend">
        <span class="input-group-text">Telefon:</span>
      </div>
    <input style="color: black;" type="text" class="form-control" [(ngModel)]="customer.telefon" placeholder="Telefon" />
    </div>
    <div class="input-group mb-2 ">
      <div class="input-group-prepend">
        <span class="input-group-text">Email:</span>
      </div>
    <input style="color: black;" type="text" class="form-control" [(ngModel)]="customer.email" placeholder="Email" />
    </div>
    <div class="input-group mb-2 ">
      <div class="input-group-prepend">
        <span class="input-group-text">Adres:</span>
      </div>
    <input style="color: black;" type="text" class="form-control" [(ngModel)]="customer.adres" placeholder="Adres" />
    </div>
    <div class="input-group mb-2 ">
      <div class="input-group-prepend">
        <span class="input-group-text">Notes:</span>
      </div>
    <input style="color: black;" type="text" class="form-control" [(ngModel)]="customer.notes" placeholder="Notes" />
    </div>
    <div class="input-group mb-2 " *ngIf="customer.Firma !== null || ''">
      <div class="input-group-prepend">
        <span class="input-group-text">Firma:</span>
      </div>
    <input style="color: black;" type="text" class="form-control" [(ngModel)]="customer.Firma" placeholder="Firma" />
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="dismiss()">Zamknij</button>
  </div>
</div>